*{
    margin: 0;
    padding: 0;

}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;

    }
    .logo{
        overflow: hidden;
        visibility: hidden;
    }
    #wapper .nav{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .nav>ul>li{
        float: right;
        width: 100%;
    }
    
  }
header, nav, section, article, aside, footer,figure{
    display: block;
}
#wapper{
    margin: auto;display: block;position: relative;
    width: 1300px;
}
#wapper .nav{
    height: 100px;
    line-height: 40px;
    
    /* margin: inherit; */
}
.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.nav>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
    
}
.nav>ul>li{
    display: inline-block;
    position: relative;
    bottom:100px;
}
.nav>ul>li>a{
    text-decoration: none;
    color: #a0a0a0;
    text-decoration: none;
    margin: 0 70px;
    font-size: larger;
    font-weight: bold;
}
.nav>ul>li>a:hover{
    color: #2d2c75;
}
.logo{
    
    left: 10%;
}
.languages{
    bottom: 100px;
}
.languages img{
    display: inline-block;
    position: relative;
    bottom: 95px;
    left: 85%;
    margin: 5px;
}
/*phan than*/

.slider {
    display: block;
    position: relative;
    width: 1300px;
    background-color: white;
    overflow: hidden;
}

.slider__slides {
  width: 100%;
  padding-top: 40%;
}

.slider__slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    transition: 1s;
    opacity: 0;
}

.slider__slide.active {
    opacity: 1;
}

.slider__slide img {
  width: 100%;
}

.slider__nav-button {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #333;
    opacity: .8;
    cursor: pointer;
}

#nav-button--prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#nav-button--next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
}

#nav-button--next::after{
    top: 50%;
    right: 50%;
    transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
}

.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid;
    opacity: 1;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.slider__navlink.active {
    background-color: rgb(99,228,189);
    border: 1px solid;
    cursor: pointer;
    opacity: 0.5;
}
#banner{
    justify-content: space-between;
}
.banner-br{
    background-color: #0065c3;
    background-image: url("https://www.pepsi.com/en-us/uploads/04_Generation_BG_D_2.png?mtime=20181217151706 ") ;
}
.banner_container_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    height: 520px;
    width: 80%;
    left: 130px;
}
.banner_image{
    width: 518px;
    height: 268px;
    margin-right: 10px;
}
.banner_container2{
    margin-left: 10px;
}
.banner_title_line{
    display: block;
    text-transform: uppercase;
    font-size: 2.5rem;
}
/* span{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
} */
.banner_body{
    display: block;
    width: 50%;
    margin: 1em 0;
    line-height: 1.25;
    position: relative;
    font-size: 15px;
}
.btn-submit {
  padding: 15px 50px;
  border-radius: 50px;
  outline: 0;
  border: 0;
  font-weight: 700;
  cursor: pointer;
}
.btn-submit:hover {
  background: #2857da; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f12711, #f7f5f1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2857da, #f7f5f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer{
    background-color: #3b9cbc;
    height: 300px;
    width: 100%;
    position: absolute;
}
.footer_center .btn-submit{
    position: relative;
    top: 120px;
    left: 5%;
}
.footer_center_info p{
    text-align: center;
    position: relative;
    bottom: 30px;

    color: #ffffff;
}
.footer_center_info p{
    font-size: 20px;
}
.footer_bottom_info{
    position: relative;
    top: 155px;
    text-align: center;
    color: #ffffff;
}
.footer_center_logo{
    text-align: center;
    color: #ffffff;
}
.footer_left{
    position: relative;
    top: 40px;
    margin-left: 5px;
}
.footer_left p a{
    text-decoration: none;
    color: #ffffff;
}
.footer_right{
    float: right;
    position: relative;
    bottom: 160px;
    right: 30px;
}
.link_network p{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}
.follow_icon{
    text-align: center;
    margin-top: 10px;
}
.follow_icon i{
    color: #ffffff;
    margin-right: 10px;
}